*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}
.container{
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh; 
    padding-top: 100px;
}
h1{
    padding-bottom: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn{
   padding: 22px;
   border-radius: 9px;
   background-color: rgb(73, 160, 160);
   color: #fff;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn:hover{
    background-color: rgb(144, 200, 200);
}

#result{
    padding: 40px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}